.a{font-size: 30px;
font-family: 华文隶书;
text-align: center;}
.b{font-size: 16px;
font-family: 微软雅黑;
color: darkgray;}
.c{text-indent: 2em;
line-height: 1.5em;}
.d{text-decoration: none;
font-family: 微软雅黑;
color: green;}
.e{font-style: italic;
font-size: 20px;
font-family: 隶书;
color: red;}